<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ListaClientes</display-name>
    <servlet-name>ListaClientes</servlet-name>
    <servlet-class>sp.senai.br.servlet.ListaClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaClientes</servlet-name>
    <url-pattern>/ListaClientes</url-pattern>
  </servlet-mapping>
  <display-name>program</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NovoCliente</display-name>
    <servlet-name>NovoCliente</servlet-name>
    <servlet-class>sp.senai.br.servlet.NovoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoCliente</servlet-name>
    <url-pattern>/NovoCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCliente</display-name>
    <servlet-name>ExcluirCliente</servlet-name>
    <servlet-class>sp.senai.br.servlet.ExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCliente</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCliente</display-name>
    <servlet-name>AlterarCliente</servlet-name>
    <servlet-class>sp.senai.br.servlet.AlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCliente</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalhaCliente</display-name>
    <servlet-name>DetalhaCliente</servlet-name>
    <servlet-class>sp.senai.br.servlet.DetalhaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalhaCliente</servlet-name>
    <url-pattern>/DetalhaCliente</url-pattern>
  </servlet-mapping>
</web-app>